body{
  background:rgba(65, 153, 25, 0.333);
  font-family:Arial;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding:20px;
}

.container{
  width:300px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.card{
  background:rgb(139, 139, 139);
  padding:20px;
  border-radius:10px;
}

h1{
  color:#550;
}

button{
  background:#4a7a9e;
  border:none;
  padding:10px;
  border-radius:8px;
  cursor:pointer;
}

input{
  padding:10px;
  border:1px solid #0a2069;
  border-radius:8px;
}